.btn-chat-rooom{
    opacity: 1;
    transition: 0.3s;
    bottom: -8px;
    border-radius: 2px 2px 0 0;
    position: relative;
    /* width: 100px; */
    width: auto;
    min-width: 75px;
    padding-left: 60px;
    padding-right: 26px;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    /* z-index: 500; */
    z-index: 20000;
}

.btn-chat-rooom:hover {
    background-color: rgb(15, 118, 187)
}

.im-user-block {
    position: absolute;
    left: 18px;
    top: 11px;
    height: 22px;
}

.im-user-avatar {
    border-radius: 11px;
    vertical-align: 6px;
}

.presence-indicator--is-online {
    width: 8px;
    height: 8px;
    background: #469a1f;
}


.im-user-block .presence-indicator--is-online {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    box-shadow: 0 0 0 2px #fff;
}


#im-unread-count {
    margin-left: 15px;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 7px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #dc3545;
}